<!-- admin/pages/show -->
<!-- assumed variable: page -->
<div class='panels_container'>
	<% for panel in page.panels %>
		<%= link_to "X", admin_panel_path(panel), :class=>"myButton right", :method => :delete, :confirm => "Are you sure you want to delete the panel '#{panel.title}'?" %>
		<%= link_to "Edit", edit_admin_panel_path(panel), :class=>"myButton right" %>
		<%= render :partial => 'panels/show', :locals => { :panel => panel } %>
	<% end %>
</div>