<div class='classic'>
	<h3>Edit Page</h3>
	
	<%= render :partial => 'form', :locals => { :button_name => "Update" } %>
	
	<%= link_to "<< Back to all pages", admin_pages_path %>
</div>
<%= link_to "<< Back to general controls", '/backside' %>