<!--sections/_sidebar-->
<div id='sidebar_div' class='span-3'>
	<ul class='sidebar_list'>
	<% for some_page in section.pages %>
		<li>
		<% if page == some_page %>
			<%= link_to "#{some_page.name}", admin_page_path(some_page), :remote => true, :class=>"selected" %>
		<% else %>
			<%= link_to "#{some_page.name}", admin_page_path(some_page), :remote => true %>
		<% end %>
		<%= link_to "Edit", [:edit, :admin, some_page], :style => "font-size: 10px" %>
		</li>
		<hr/>
	<% end %>
	</ul>
</div>