<div class="classic">
	<h3>Edit Section</h3>
	<%= render :partial => 'form', :locals => { :section => @section, :button_value=>"Update" } %>
	<%= link_to "<< Back to all sections", admin_sections_path %>
</div>
<%= link_to "<< Back to general controls", '/backside' %>