<!-- admin/sections/show-->
<% if @section.has_sidebar %>
	<div id='sidebar_div' class='span-3'>
		<ul class='sidebar_list'>
		<% for page in @section.pages %>
			<li><%= link_to_remote "#{page.name}", :update=>'show_page', :url => { :controller=>'admin/pages',:action=>'show_page', :id=>page.id }, :html=>{} %></li>
			<hr/>
		<% end %>
		</ul>
	</div>
<% end %>
<div id='show_page' <% if @section.has_sidebar %>class='span-18 last vert_divider'<% end %>>
	<%= render :partial => 'admin/pages/show', :locals => { :page=>@page } %>
</div>