<!-- pages/_show_page -->
<!-- assumed variable: page -->
<div class='panels_container'>
	<% if page.panels.count > 0 %>
		<% for panel in page.panels %>
			<%= render :partial => 'panels/show', :locals => { :panel => panel } %>
		<% end %>
	<% else %>
		<div class='safe_page'>
			This page is currently under construction.
		</div>
	<% end %>
</div>