<!-- pages/_show_page -->
<!-- assumed variable: page -->
<div class='panels_container'>
	<% for panel in page.panels %>
		<%= render :partial => 'panels/show', :locals => { :panel => panel } %>
	<% end %>
</div>