<div class="classic">
	<h3>Edit Panel</h3>
	<%= render :partial => 'form', :locals => { :button_value=>'Update' } %>
	<%= link_to "<< Back to all panels", admin_panels_path %>
</div>
<%= link_to "<< Back to general controls", '/backside' %>